* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: initial;
    font font-weight: 400;
    text-align: initial;
}

.container-dir {
    height: 210px;
    width: 750px;
    background-color: rgb(152, 190, 178);
    border: 3px solid #6455aa;
    display: flex;
    flex-direction: row;
}

.container-wra {
    height: 210px;
    width: 750px;
    background-color: rgb(152, 190, 178);
    border: 3px solid #6455aa;
    display: flex;
    flex-wrap: wrap;
}

.container-flo {
    height: 210px;
    width: 750px;
    background-color: rgb(152, 190, 178);
    border: 3px solid #6455aa;
    display: flex;
    flex-flow:row wrap-reverse;
}

.container-con {
    height: 210px;
    width: 750px;
    background-color: rgb(152, 190, 178);
    border: 3px solid #6455aa;
    display: flex;
    justify-content:space-between;
}

.container-ali {
    height: 210px;
    width: 750px;
    background-color: rgb(152, 190, 178);
    border: 3px solid #6455aa;
    display: flex;
    align-items:center ;
}

.container-alc {
    height: 315px;
    width: 750px;
    background-color: rgb(152, 190, 178);
    border: 3px solid #6455aa;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end ;
}

.contido {
    height: 100px;
    width: 100px;
    text-align: center;
    line-height: 90px;
    font-size: 20px;
    background-color: rgb(199, 157, 80);
    border: 3px solid #9e2f0d;
}

.titulo {
    font-size: 35px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    padding-top: 20px;
}

.subtitulo {
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    padding: 14px 0;
}    

.propriedade {
    font-size: 17px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    padding: 14px 0;
}
    
.descricao-propriedade {
        font-size: 17px;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
    }

p {
    color: darkblue;
    line-height: 1.5;
}